@model WebApp_MVC_D2.ViewModels.InstructorWithCourseAndDeptViewModel

@{
    Layout = "template";
    ViewData["Title"] = "Add Instructor";
}

<h1>Add Instructor</h1>
<form method="post" asp-action="SaveAdd">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DeptId">Department</label>
        <select asp-for="DeptId" class="form-control" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" id="Dept_Id" onchange="getCoursesByDepartment()">
            <option value="">Select Department</option>
        </select>
        <span asp-validation-for="DeptId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CrsId">Course</label>
        <select asp-for="CrsId" class="form-control" id="Crs_Id">
            <option value="">Select Course</option>
        </select>
        <span asp-validation-for="CrsId" class="text-danger"></span>
    </div>

    <br />
    <div>
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
</form>
<hr />
<a class="btn btn-outline-primary" asp-controller="Instructor" asp-action="Index">All Instructors</a>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function getCoursesByDepartment() {
            var departmentId = $('#Dept_Id').val();
            $.ajax({
                url: '/Instructor/GetCoursesRelatedToDept?deptId=' + departmentId,
                success: function (courses) {
                    var courseDropdown = $('#Crs_Id');
                    courseDropdown.empty();
                    courseDropdown.append('<option value="">Select Course</option>');
                    $.each(courses, function (index, course) {
                        courseDropdown.append('<option value="' + course.id + '">' + course.name + '</option>');
                    });
                }
            });
        }
    </script>
}
