@model List<WebApp_MVC_D2.Models.Instructor>

@{
    Layout = "template";
    ViewData["Title"] = "Instructor List";
}

<div>
    <form  action="/Instructor/Search" method="get">
        <input class ="w-50 h-50" type="text" name="name" placeholder="Search by name" />
        <button type="submit" class="btn btn-outline-primary">Search</button>
        <a class="btn btn-outline-primary" href="/Instructor/index">Clear</a>

    </form>
</div>



<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="w-25">NAME</th>
            <th>IMAGE</th>
            <th>SALARY</th>
            <th>ADDRESS</th>
            <th class="w-25">INSTRUCTOR DETAILS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var instructor in Model)
        {
            <tr>
                <td>@instructor.Name</td>
                <td><img class="w-25 h-25" src="@instructor.Image" /></td>
                <td>@instructor.Salary</td>
                <td>@instructor.Address</td>
                <td>
                    <a class="btn btn-outline-primary" href="/Instructor/Details?id=@instructor.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-outline-primary" href="/Instructor/Add">Add Instructor</a>
